<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()"><span aria-hidden="true">&times;</span>
   </button>
   <h4 class="modal-title">Change Password</h4>
</div>
<div class="modal-body">
<form name="myForm" ng-submit="submitted=true" novalidate  autocomplete="off">
   <div class="col-md-12">
   <div class="row">
      <div class="col-md-12" id="userName">
         <div class="form-group">
            <label for="exampleInputEmail1">Email ID
            </label>
            <input type="email" class="form-control"  id="userName" name="userName" ng-model="pmc.employee.userName" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  placeholder="Email Id" disabled  style="padding-right: 5px;"  >
            <span class="help-inline" ng-show="submitted && myForm.userName.$error.required" style="padding-left:1%;color: red;">Email is Required
            </span>
            <span ng-show="!myForm.userName.$error.required && myForm.userName.$error.userName && myForm.userName.$dirty" style="color: red;padding-left: 1%;">Invalid email
            </span>
         </div>
      </div>
      <div class="col-md-12" id="password">
         <div class="form-group">
            <label for="exampleInputEmail1">Password </label>
            <input type="password" class="form-control" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"  placeholder="Password" name="password" ng-model="pmc.employee.password" required />
            <span class="help-inline" ng-show="submitted && myForm.password.$error.required" style="padding-left:1%;color: red;">Password is Required
            </span>
            <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty" style="padding-left:1%;color: red;">Passwords must be between 8 and 20 characters.</span>
                           <span ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty" style="padding-left:1%;color: red;">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
         </div>
      </div>
      <div class="col-md-12"  id="cPassword">
         <div class="form-group">
            <label for="exampleInputEmail1">Confirm Password
            </label>
            <input type="password" class="form-control"  name="cPassword" ng-model="pmc.employee.cPassword" value-matches="pmc.employee.password" ng-pattern="pmc.employee.password"  placeholder="Confirm Password"   required  />
            <span class="help-inline" ng-show="submitted && myForm.cPassword.$error.required" style="padding-left:1%;color: red;">Confirm Your Password 
            </span>
            <span class="help-block" style="color:red;padding-left: 1%;" ng-show="myForm.cPassword.$dirty && myForm.cPassword.$invalid">Passwords did not match
            <br>
            </span>
         </div>
      </div>
</form>
</div>
<div class="modal-footer">
   <div class="col-sm-offset-5" >
      <button type="button"  type="submit"  class="btn btn-default" ng-click="$dismiss()">Close</button>
      <button type="button"  type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary" ng-click="$close() && pmc.formValidation(myForm.$error.required[0].$name) && pmc.updateEmployee(pmc.employee)">Save changes</button>
   </div>
</div>