<div class="content-wrapper">
   <section class="content-header">
      <h1>
         Monthly PO report by product
      </h1>
      <ol class="breadcrumb">
         <li><a ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
         <li><a href="">Product Management</a></li>
         <li class="active">Monthly PO report by product</li>
      </ol>
   </section>
   <section class="content">
      <form name="Form" id="Form"  ng-submit="Form.$valid && mpr.filterByMonth(mpr.month);submitted=true" autocomplete="off"  novalidate >
         <div class="box box-default">
            <div class="box-header with-border">
               <h3 class="box-title"> Monthly PO report by product</h3>
               <div class="pull-right">
                  <button class="btn btn-primary"   type="button"  title="Print" ng-click="mpr.print('print-div')">Print</button>  
                  <button   type="button" ng-click="mpr.downloadPdf('Monthly PO Product Details')" title="PDF" class="btn btn-primary "> PDF</button>
               </div>
            </div>
            <div class="box-body">
               <div class="row form-group">
                  <div class="col-sm-3 d-right">
                     <label style="padding-top: 8px;" class="">Month</label>
                  </div>
                  <div class="col-sm-6 ">
                     <input type="hidden"  ng-model="mpr.month" name="month" required="required"> 
                     <div class="dropdown">
                        <button ng-disabled="mpr.isEditmode" class="btn btn-primary dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#"  >
                        {{ mpr.month  == null ? 'Select Month and Year' : mpr.month  | date:'MMMM - yyyy' }} <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                           <datetimepicker data-ng-model="mpr.month" data-ng-required data-datetimepicker-config="{ dropdownSelector: '#dropdown3',  startView:'year', minView:'month'  }"/>
                           ></datetimepicker>
                        </ul>
                     </div>
                     <span class="help-inline" ng-show="submitted && Form.month.$error.required" style="padding-left:1%;color: red;">
                     Month is required
                     </span>
                  </div>
               </div>
            </div>
            <div class="box-footer">
               <div class="col-sm-offset-5">
                  <button class="btn btn-success" name="submit"  type="submit">Submit</button>  
                  <button type="reset"  class="btn btn-warning" ng-disabled="Form.$pristine" ng-click="mpr.reset()">Reset</button>
               </div>
            </div>
         </div>
      </form>
      <div class="panel panel-info" style="overflow:auto;">
         <div class="allow_cnt" >
            <form name="myForm">
               <div class="box-body">
                  <label style="padding: 9px;">Show Entries</label>
                  <select data-ng-model="limit" ng-init="limit =mpr.availableLimits[0]" ng-options="limit for limit in mpr.availableLimits" ng-class="{'active':mpr.isActiveValue(limit)}" data-ng-change="mpr.setValue(limit)" size="1">      
                  </select>                         
                  <br>
                  <div id="print-div" >
                     <div>
                        <h3>PO report by product</h3>
                        <table class="grid_tbl" id="pdfgrid">
                           <thead>
                              <tr>
                                 <th>  
                                    <a class="hand-icon" ng-click="sortType = '_id.productId'; sortReverse = !sortReverse">
                                    Product Id 
                                    <span ng-show="sortType == '_id.productId' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == '_id.productId' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                 </th>
                                 <th>  
                                    <a class="hand-icon" ng-click="sortType = 'product.productName'; sortReverse = !sortReverse">
                                    Product Name
                                    <span ng-show="sortType == 'product.productName' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'product.productName' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                 </th>
                                 <th> 
                                    <a class="hand-icon" ng-click="sortType = 'category.categoryName'; sortReverse = !sortReverse">
                                    Category
                                    <span ng-show="sortType == 'category.categoryName' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'category.categoryName' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                 </th>
                                 <th> 
                                    <a class="hand-icon" ng-click="sortType = 'subCategory.subCategoryName'; sortReverse = !sortReverse">
                                    Subcategory
                                    <span ng-show="sortType == 'subCategory.subCategoryName' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'subCategory.subCategoryName' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                 </th>
                                 <th> 
                                    <a class="hand-icon" ng-click="sortType = 'orderdedQty'; sortReverse = !sortReverse">
                                    Quantity
                                    <span ng-show="sortType == 'orderdedQty' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'orderdedQty' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr dir-paginate="product in mpr.productReport|orderBy:sortType:sortReverse|itemsPerPage:limit " 
                                 >
                                 <td>
                                    <span>{{product._id.productId}}</span>
                                 </td>
                                 <td>
                                    <span>{{product.product.productName}}</span>
                                 </td>
                                 <td>
                                    <span>{{product.category.categoryName}}</span>
                                 </td>
                                 <td >
                                    <span>{{product.subCategory.subCategoryName}}</span>
                                    
                                 </td>
                                 <td >
                                    <span>{{product.orderdedQty}}</span>
                                         <span>{{product.units.unitName}}</span>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <dir-pagination-controls
                  max-size="5"
                  direction-links="true"
                  boundary-links="true" >
               </dir-pagination-controls>
            </form>
         </div>
      </div>
</div>
</section>
</div>