<div class="content-wrapper">
   <section class="content-header">
      <h1>
         Product Management
      </h1>
      <ol class="breadcrumb">
         <li><a ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
         <li class="active">Product Management</li>
      </ol>
   </section>
   <section class="content">
      <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a ui-sref="root.product-list">
               <div class="info-box">
                  <span class="info-box-icon bg-green"><i class="fa fa-globe"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Product Setup</span>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </section>
</div>