<div class="content-wrapper">
   <section class="content-header">
      <h1>
         HRM Configuration Settings
      </h1>
      <ol class="breadcrumb">
         <li><a ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
         <li><a ui-sref="root.configsetting">Configuration Settings</a></li>
         <li class="active">HRM Configuration Settings</li>
      </ol>
   </section>
   <section class="content">
      <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
             <a ui-sref="root.rolesetup">
               <div class="info-box">
                  <span class="info-box-icon bg-green"><i class="fa fa-globe"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Role Setup</span>
                  </div>
               </div>
            </a> 
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <a ui-sref="root.nationality">
               <div class="info-box">
                  <span class="info-box-icon bg-yellow"><i class="fa fa-flag"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Nationality</span>
                  </div>
               </div>
            </a>
        </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a ui-sref="root.residential">
               <div class="info-box">
                  <span class="info-box-icon bg-blue"><i class="fa fa-home"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Residential Status</span>
                  </div>
               </div>
            </a>
        </div>
      </div>
   </section>
</div>
