<div class="content-wrapper">
   <section class="content-header">
      <h1>
         Menu Configuration Settings
      </h1>
      <ol class="breadcrumb">
         <li><a ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
         <li><a  ui-sref="root.configsetting">Configuration Settings</a></li>
         <li class="active">Menu Configuration Settings</li>
      </ol>
   </section>
   <section class="content">
      <div class="col-md-3 col-sm-6 col-xs-12">
         <a ui-sref="root.menucategory">
            <div class="info-box">
               <span class="info-box-icon bg-aqua"><i class="fa fa-share-alt-square"></i></span>
               <div class="info-box-content">
                  <span class="info-box-text">Add Category</span>
               </div>
            </div>
      </div>
      </a>
      <div class="col-md-3 col-sm-6 col-xs-12">
         <a ui-sref="root.labourcost">
            <div class="info-box">
               <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
               <div class="info-box-content">
                  <span class="info-box-text">Add Labour Cost</span>
               </div>
            </div>
      </div>
      </a>
      <div class="col-md-3 col-sm-6 col-xs-12">
         <a ui-sref="root.overheadcost">
            <div class="info-box">
               <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
               <div class="info-box-content">
                  <span class="info-box-text">Add OverHead Price</span>
               </div>
            </div>
      </div>
      </a>
   </section>
</div>