<div class="content-wrapper">
   <section class="content-header">
      <h1>
         Menu Category Creation
      </h1>
      <ol class="breadcrumb">
         <li><a  ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
         <li><a  ui-sref="root.configsetting">Configuration Settings</a></li>
         <li><a  ui-sref="root.menuconfig">Menu  Configuration Settings</a></li>
         <li class="active">Add Category</li>
      </ol>
   </section>
   <section class="content">
      <form name="Form" id="Form"  ng-submit="Form.$valid && menucategoryLC.addMenuCategory(menumenucategoryLC.category);submitted=true" autocomplete="off"  novalidate >
         <div class="box box-default">
            <div class="box-body">
               <div class="row">
                  <div class="form-group">
                     <div class="col-sm-3 d-right">
                        <label style="padding-top: 8px;" class="">Category Name</label>
                     </div>
                     <div class="col-sm-6 ">
                        <input type="text" class="form-control"  placeholder="Enter Category Name" name="category" ng-model="menumenucategoryLC.category.categoryName" ng-pattern="/^[a-zA-Z\s]*$/" required/>
                        <span class="help-inline" ng-show="submitted && Form.category.$error.required"></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="box-footer">
               <div class="col-sm-offset-5">
                  <button class="btn btn-success" name="submit"  type="submit">Save&Submit</button>  
                  <button type="reset"  class="btn btn-warning" ng-disabled="Form.$pristine">Reset</button>
               </div>
            </div>
         </div>
      </form>
   </section>
   <section class="content">
      <div class="panel panel-info"  style="overflow:auto;">
         <div class="box-header with-border">
            <h3 class="box-title">Category List</h3>
         </div>
         <div class="allow_cnt" >
            <form name="myForm">
               <div class="box-body">
                  <label style="padding: 9px;">Show Entries</label>      
                  <select data-ng-model="limit" ng-init="limit =menucategoryLC.availableLimits[0]" ng-options="limit for limit in menucategoryLC.availableLimits" ng-class="{'active':menucategoryLC.isActiveValue(limit)}" data-ng-change="menucategoryLC.setValue(limit)" size="1">
                  </select>                           
                  <br>
                  <table class=" grid_tbl">
                     <thead>
                        <tr>
                    
                           <th >  
                              <a href="" ng-click="sortType = 'CategoryName'; sortReverse = !sortReverse">
                              Category Name 
                              <span ng-show="sortType == 'CategoryName' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'CategoryName' && sortReverse" class="fa fa-caret-up"></span>
                              </a>
                           </th>
                           <th>  
                              <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                              Actions
                              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                              </a>
                           </th>
                        </tr>
                        <tr>
              
                           <td>
                              <input class="form-control" 
                                 ng-model="search.categoryName"   placeholder="Search By Category Name"   >
                           </td>
                           <td></td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr  dir-paginate="category in menucategoryLC.menuCategories|orderBy:sortType:sortReverse | filter:query|filter:search|itemsPerPage:limit " 
                           >
                        
                           <td>
                              <span data-ng-hide="editMode">{{category.categoryName}}</span>
                              <input class="form-control" ng-model="category.categoryName" ng-show="editMode" ng-pattern="/^[a-zA-Z\s]*$/" required />
                           </td>
                           <td>
                              <a href="" class="a" data-ng-hide="editMode" title="Delete" ng-click="menucategoryLC.deleteMenuCategory(category._id,category.categoryId)"><i class="glyphicon glyphicon-trash" 
                                 ></i></a>
                              <a href="" class="b" data-ng-hide="editMode" title="Edit" ng-click="editMode =true;menucategoryLC.editMenuCategory(category)"><i class="glyphicon glyphicon-pencil" 
                                 ></i></a>
                              <a href="" class="c" data-ng-show="editMode" title="Update" ng-click="menucategoryLC.updateMenuCategory(category)"><i class="glyphicon glyphicon-floppy-save"  ></i></a>
                              <a href=""  class="d" data-ng-show="editMode" title="Reset" data-ng-click="editMode = false;cancel($index);menucategoryLC.reset(category)"> <i class="glyphicon glyphicon-remove"  ></i></a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <dir-pagination-controls
                     max-size="5"
                     direction-links="true"
                     boundary-links="true" >
                  </dir-pagination-controls>
               </div>
            </form>
         </div>
      </div>
   </section>
</div>