<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Outlet Configuration Settings
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
            <li><a  ui-sref="root.configsetting">Configuration Settings</a></li>
            <li class="active">Outlet Configuration Settings</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a ui-sref="root.requesttype">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-fw fa-user-plus"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Request Type</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a ui-sref="root.complainttype">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-fw fa-edit"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Complaint Type</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>