<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Product Configuration Settings
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
            <li><a  ui-sref="root.configsetting">Configuration Settings</a></li>
            <li class="active">Product Configuration Settings</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a ui-sref="root.category">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-share-alt-square"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Add Category</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a ui-sref="root.subcategory">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-globe"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Add SubCategory</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a ui-sref="root.units">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-balance-scale"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Add Units</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>