<div class="content-wrapper">
   <section class="content-header">
      <h1>
         Request Type Creation
      </h1>
      <ol class="breadcrumb">
         <li><a  ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
         <li><a  ui-sref="root.configsetting">Configuration Settings</a></li>
         <li><a  ui-sref="root.outletconfig">Oultet Configuration</a></li>
         <li class="active"> Request Type</li>
      </ol>
   </section>
   <section class="content">
      <form name="Form" id="Form"  ng-submit="Form.$valid && rtc.addDetails(rtc.configData);submitted=true" autocomplete="off"  novalidate >
         <div class="box box-default">
            <div class="box-body">
               <div class="row">
                  <div class="form-group">
                     <div class="col-sm-3 d-right">
                        <label style="padding-top: 8px;" class="">Request Type</label>
                     </div>
                     <div class="col-sm-6 ">
                        <input type="text" class="form-control"  placeholder="Enter Request Type" name="requesttype" ng-model="rtc.configData.requestName" ng-pattern="/^[a-zA-Z\s]*$/" required/>
                     </div>
                  </div>
               </div>
            </div>
            <div class="box-footer">
               <div class="col-sm-offset-5">
                  <button class="btn btn-success" name="submit"  type="submit">Save&Submit</button>  
                  <button type="reset"  class="btn btn-warning" ng-disabled="Form.$pristine">Reset</button>
               </div>
            </div>
         </div>
      </form>
   </section>
   <section class="content">
      <div class="panel panel-info"  style="overflow:auto;">
         <div class="box-header with-border">
            <h3 class="box-title">Request Type</h3>
         </div>
         <div>
            <form name="myForm">
               <div class="box-body">
                  <label style="padding: 9px;">Show Entries</label>      
                  <select data-ng-model="limit" ng-init="limit =rtc.availableLimits[0]" ng-options="limit for limit in rtc.availableLimits" ng-class="{'active':rtc.isActiveValue(limit)}" data-ng-change="rtc.setValue(limit)" size="1">
                  </select>                           
                  <br>
                  <table class="grid_tbl">
                     <thead>
                        <tr>
                 
                           <th >  
                              <a href="" ng-click="sortType = 'requestName'; sortReverse = !sortReverse">
                              Request Type Name 
                              <span ng-show="sortType == 'requestName' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'requestName' && sortReverse" class="fa fa-caret-up"></span>
                              </a>
                           </th>
                           <th>  
                              <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                              Actions
                              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                              </a>
                           </th>
                        </tr>
                        <tr>
                      
                           <td>
                              <input class="form-control" 
                                 ng-model="search.requestName"   placeholder="Search By Request Type Name "   >
                           </td>
                           <td></td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr dir-paginate="reqtype in rtc.requestType|orderBy:sortType:sortReverse | filter:{isActive:true}|filter:search|itemsPerPage:limit " 
                           >
                   
                           <td>
                              <span data-ng-hide="reqtype.editMode">{{reqtype.requestName}}</span>
                              <input class="form-control" ng-model="reqtype.requestName" ng-show="reqtype.editMode" ng-pattern="/^[a-zA-Z\s]*$/"  required />
                           </td>
                           <td>
                              <a href="" class="a" data-ng-hide="reqtype.editMode" ng-click="rtc.removeData($index,reqtype)" title="Remove" ><i class="glyphicon glyphicon-trash" 
                                 ></i></a>
                              <a href="" class="b"  data-ng-hide="reqtype.editMode" data-ng-click="reqtype.editMode = true;" title="Edit"><i class="glyphicon glyphicon-pencil" 
                                 ></i></a>
                              <a href="" class="c" data-ng-show="reqtype.editMode" ng-click="rtc.addDetails(reqtype)" title="Update"><i class="glyphicon glyphicon-floppy-save"  ></i></a>
                              <a href=""  class="d" data-ng-show="reqtype.editMode" title="Reset" data-ng-click="reqtype.editMode = false;rtc.setConfigType()"> <i class="glyphicon glyphicon-remove"  ></i></a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <dir-pagination-controls
                     max-size="5"
                     direction-links="true"
                     boundary-links="true" >
                  </dir-pagination-controls>
               </div>
            </form>
         </div>
      </div>
</div>
</section>
</div>