<div class="content-wrapper">
   <section class="content-header">
      <h1>
         Product SubCategory Creation
      </h1>
      <ol class="breadcrumb">
         <li><a ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
         <li><a  ui-sref="root.configsetting">Configuration Settings</a></li>
         <li><a ui-sref="root.productconfig">Product Configuration Settings</a></li>
         <li class="active">Add SubCategory</li>
      </ol>
   </section>
   <form name="Form" id="Form" ng-submit="Form.$valid && subCategoryLC.addSubCategory(subCategoryLC.subCategory);submitted=true" autocomplete="off" novalidate>
      <section class="content">
         <div class="box box-default">
            <div class="box-body">
               <div class="row">
                  <div class="col-md-12">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="exampleInputEmail1">Category Name</label>
                           <select class="form-control select2"  name="categoryName" ng-model="subCategoryLC.subCategory.categoryId" required/>
                              <option value="">Select Category</option>
                              <option ng-repeat="category in subCategoryLC.categories | orderBy:'categoryName'" value="{{category.categoryId}}">{{category.categoryName}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="exampleInputEmail1">SubCategory Name</label>
                           <input type="text" class="form-control" placeholder="Enter SubCategory Name" name="subcategory" ng-model="subCategoryLC.subCategory.subCategoryName" ng-pattern="/^[a-zA-Z\s]*$/" required/>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="box-footer">
               <div class="col-sm-offset-5">
                  <button class="btn btn-success" name="submit" type="submit">Save&Submit</button>
                  <button type="reset"  class="btn btn-warning" ng-disabled="Form.$pristine">Reset</button>
               </div>
            </div>
         </div>
      </section>
   </form>
   <section class="content">
      <div class="panel panel-info" style="overflow:auto;">
         <div class="box-header with-border">
            <h3 class="box-title">SubCategory List</h3>
         </div>
         <div class="allow_cnt">
            <form name="myForm">
               <div class="box-body">
                  <label style="padding: 9px;">Show Entries</label>
                  <select data-ng-model="limit" ng-init="limit =subCategoryLC.availableLimits[0]" ng-options="limit for limit in subCategoryLC.availableLimits" ng-class="{'active':subCategoryLC.isActiveValue(limit)}" data-ng-change="subCategoryLC.setValue(limit)" size="1">
                  </select>
                  <br>
                  <table class=" grid_tbl">
                     <thead>
                        <tr>
                     
                           <th>
                              <a href="" ng-click="sortType = 'subCategoryName'; sortReverse = !sortReverse">
                              SubCategory Name 
                              <span ng-show="sortType == 'SubCategoryName' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'SubCategoryName' && sortReverse" class="fa fa-caret-up"></span>
                              </a>
                           </th>
                                 <th>
                              <a href="" ng-click="sortType = 'categoryId'; sortReverse = !sortReverse">
                              Category Name 
                              <span ng-show="sortType == 'categoryId' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'categoryId' && sortReverse" class="fa fa-caret-up"></span>
                              </a>
                           </th>
                           <th>
                              <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                              Actions
                              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                              </a>
                           </th>
                        </tr>
                        <tr>
                           <td>
                              <input class="form-control" ng-model="search.subCategoryName" placeholder="Search By SubCategory Name" >
                           </td>
                           <td>
                              <input class="form-control" ng-model="search.categories_collection.categoryName" placeholder="Search By Category Name" >
                           </td>
                    
                           <td></td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr dir-paginate="subcategory in subCategoryLC.subCategories|orderBy:sortType:sortReverse | filter:query|filter:search|itemsPerPage:limit " data-ng-class="{danger:!subcategory.isActive}">
                         
                            <td>
                              <span data-ng-hide="editMode">{{subcategory.subCategoryName}}</span>
                              <input class="form-control" ng-model="subcategory.subCategoryName" ng-show="editMode" ng-pattern="/^[a-zA-Z\s]*$/" required />
                           </td>
                           <td>
                              <span data-ng-hide="editMode">{{subcategory.categories_collection.categoryName}}</span>
                              <select class="form-control" data-ng-model="subcategory.categoryId" data-ng-show="editMode" data-ng-required>
                                 <option value="">select Category</option>
                                 <option ng-repeat="category in subCategoryLC.categories" value="{{category.categoryId}}">{{category.categoryName}}</option>
                              </select>
                           </td>
                        
                           <td>
                              <a href="" class="a" data-ng-hide="editMode" title="Remove"><i class="glyphicon glyphicon-trash" 
                                 ng-click="subCategoryLC.deleteSubCategory(subcategory._id,subcategory.subCategoryId)"></i></a>
                              <a href="" class="b" data-ng-hide="editMode" title="Edit"><i class="glyphicon glyphicon-pencil" 
                                 data-ng-click="editMode = true;subCategoryLC.editSubCategory(subcategory)"></i></a>
                              <a href="" class="c" data-ng-show="editMode" title="Update"><i class="glyphicon glyphicon-floppy-save"  ng-click="subCategoryLC.updateSubCategory(subcategory)"></i></a>
                              <a href="" class="d" data-ng-show="editMode" title="Remove"> <i class="glyphicon glyphicon-remove" data-ng-click="editMode = false;subCategoryLC.reset(subcategory)"></i></a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                  </dir-pagination-controls>
               </div>
            </form>
         </div>
      </div>
</div>
</section>
</div>