<div class="content-wrapper" >
   <section class="content-header">
      <h1>
         Create Purchase Order
      </h1>
      <ol class="breadcrumb">
         <li><a ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
         <li><a ui-sref="root.purchase-order-list">Purchase Order List</a></li>
         <li class="active">Create Purchase Order</li>
      </ol>
   </section>
   <section class="content">
      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
         <form name="myForm"  ng-submit="submitted=true"  novalidate  autocomplete="off" >
            <div class="box-header with-border">
               <h3 class="box-title">Create Purchase Order</h3>
            </div> 
            <p>{{poc.submitbut}}</p>
            <div class="box-body">
               <div class="row">
                  <div class="col-md-6" id="branchName" ng-if="(poc.loginUser[0].roleName === poc.role[0].roleName) || (poc.loginUser[0].roleName === poc.role[1].roleName)">
                     <div class="form-group">
                        <label for="exampleInputEmail1">Branch Name</label>
                        <select class="form-control" ng-model="poc.purchaseOrder.branchId" ng-disabled="poc.purchaseOrder._id" required="required" name="branchName" placeholder="select Branch">
                           <option  ng-repeat="branch in poc.outlet"  value="{{branch.branchId}}" >{{branch.branchName}}</option>
                        </select>
                        <span class="help-inline" ng-show="submitted && myForm.branchName.$error.required" style="padding-left:1%;color: red;">Branch Name is Required</span>
                     </div>
                  </div>
                  <div class="col-md-6" id="branchName" ng-if="poc.loginUser[0].roleName === poc.role[5].roleName">
                     <div class="form-group">
                        <label for="exampleInputEmail1">Branch Name</label>
                        <select class="form-control" ng-model="poc.purchaseOrder.branchId" ng-disabled="poc.purchaseOrder._id" required="required" name="branchName" placeholder="select Branch">
                           <option  ng-repeat="branch in poc.franchiseBranch"  value="{{branch.branchId}}" >{{branch.branchName}}</option>
                        </select>
                        <span class="help-inline" ng-show="submitted && myForm.branchName.$error.required" style="padding-left:1%;color: red;">Branch Name is Required</span>
                     </div>
                  </div>
                  <div class="col-md-6" id="branchName" ng-if="(poc.loginUser[0].roleName !== poc.role[0].roleName) || (poc.loginUser[0].roleName !== poc.role[1].roleName)&& (poc.loginUser[0].roleName !== poc.role[5].roleName) ">
                     <div class="form-group">
                        <label for="exampleInputEmail1">Branch Name</label>
                        <select class="form-control" ng-model="poc.purchaseOrder.branchId" disabled="disabled" required="required" name="branchName" placeholder="select Branch">
                           <option>Select Branch Name</option>
                           <option  ng-repeat="branch in poc.outlet"  value="{{branch.branchId}}">{{branch.branchName}}</option>
                        </select>
                        <span class="help-inline" ng-show="submitted && myForm.branchName.$error.required" style="padding-left:1%;color: red;">Branch Name is Required</span>
                     </div>
                  </div> 
                  <div class="col-md-6" id="PONumber" ng-if="poc.purchaseOrder._id">
                     <div class="form-group">
                        <label for="exampleInputEmail1">PO Number</label>
                        <input type="text" class="form-control" disabled="" placeholder="PO Number"   ng-model="poc.purchaseOrder.purchaseOrderId"  name="PONumber"  required="required"  >
                        <span class="help-inline" ng-show="submitted && myForm.PONumber.$error.required" style="padding-left:1%;color: red;">PO Number is Required</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label id="yes" ng-class="{'radio_req' : myForm.optionsRadios.$invalid, 'radio_valid' : myForm.optionsRadios.$valid}" style="float: left;width: 100%;">Menu Item </label>
                        <div class="col-md-4">
                           <div class="radio">
                              <label  >
                              <input type="radio" ng-change="poc.checkItemDetails(poc.purchaseOrder.menuItem )" ng-model="poc.purchaseOrder.menuItem" name="optionsRadios" id="yes_radio"  required="" ng-disabled="poc.purchaseOrder.menuItem == false"  ng-value="true">
                              Yes
                              </label>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="radio">
                              <label >
                              <input type="radio" ng-change="poc.checkItemDetails(poc.purchaseOrder.menuItem )"  name="optionsRadios" ng-model="poc.purchaseOrder.menuItem" id="no_radio"  ng-disabled="poc.purchaseOrder.menuItem == true" required="" ng-value="false">
                              No
                              </label>
                           </div>
                        </div>                     
                        <div class="col-md-4"  ng-show="poc.purchaseOrder.menuItem !== undefined ">
                           <input type="button" ng-hide="(poc.submitbut===false) || (poc.isEditmode===true)"  ng-disabled="poc.isEditmode"  ng-click="poc.reset()"   class="btn btn-warning"  value=" Refresh ">
                        </div> 
                     </div>
                  </div>
               </div>
               <div class="box-body row" ng-show="poc.purchaseOrder.menuItem == true">
                  <div class="box-header with-border">
                     <h4 class="box-title" >Menu Details
                     </h4>
                  </div>
                  <div  class="col-sm-12">
                     <table class="table table-bordered table-hover table-condensed" >
                        <tr style="font-weight: bold">
                           <td >Menu Item Name</td>
                           <td >Menu Item Id</td>
                           <td >Qty</td>
                           <td >Delivery Date</td>
                           <td >Delivery Time</td>
                           <td >Description</td>
                           <td >Action</td>
                        </tr>
                        <tr ng:repeat="menu in poc.purchaseOrder.menuDetail" >
                           <td>
                              <select class="form-control select"  ng-disabled="poc.isEditmode" ng-model="menu.itemId" ng-change="poc.validateMenuItem(menu.itemId,menu);poc.getMenuDetail(menu.itemId,menu)" ng-required="poc.purchaseOrder.menuItem == true" name="textfield"  >
                                 <option value="">Select Menu</option>
                                 <option ng-repeat="menu in poc.menus" value="{{menu.menuId}}">{{menu.itemName}}</option>
                              </select>
                           </td>
                           <td>
                              <select class="form-control select item_detail"  ng-model="menu.itemId" disabled="disabled"  name="name"  style="-webkit-appearance: none;">
                                 <option ng-repeat="menu in poc.menus" value="{{menu.menuId}}">{{menu.menuId}}</option>
                              </select>
                           </td>
                           <td>
                              <input type="number" class="form-control"   ng-disabled="poc.isEditmode" ng:model="menu.qty" name="qty" min=0 ng-required="poc.purchaseOrder.menuItem == true" style="width: 45%;display: inline;"  >
                              <b>
                                 <select class=" item_detail" ng:model="menu.itemId"  style="width: 45%;display: inline;border: none;-webkit-appearance: none;background: none"  disabled="">
                                    <option ng-repeat="menu in poc.menus" value="{{menu.menuId}}">{{menu.units_collection.unitName}}</option>
                                 </select>
                              </b>
                           </td>
                           <td>
                              <input type="hidden"  ng-required="poc.purchaseOrder.menuItem == true"  ng-model="menu.deliveryDate" name="date"> 
                              <div class="dropdown">
                                 <button ng-disabled="poc.isEditmode" class="btn btn-primary dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#"  ng-disabled="doc.isEditmode" >
                                 {{ menu.deliveryDate  == null ? 'Select Date' : menu.deliveryDate  | date:'yyyy-MM-dd' }} <span class="caret"></span></button>
                                 <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="menu.deliveryDate"     
                                       data-datetimepicker-config="{startView:'day', minView:'day',  dropdownSelector: '#dropdownStart', renderOn: 'start-date-changed' }"  
                                       data-on-set-time="poc.endDateOnSetTime()" 
                                       data-before-render="poc.endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)" ></datetimepicker>
                                 </ul>
                              </div>
                           </td>
                           <td>
                              <input type="hidden" ng-required="poc.purchaseOrder.menuItem == true"   ng-model="menu.deliveryDate" name="reportDate"> 
                              <div class="dropdown">
                                 <button ng-disabled="poc.isEditmode" class="btn btn-primary dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#"  ng-disabled="doc.isEditmode" >
                                 {{ menu.deliveryDate  == null ? 'Select Time' : menu.deliveryDate  | date:'h:mm a' }} <span class="caret"></span></button>
                                 <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="menu.deliveryDate" data-ng-required data-datetimepicker-config="{ dropdownSelector: '#dropdown3',  startView:'hour', minView:'minute'  }"/>
                                 </ul>
                              </div>
                           </td>
                           <td>
                              <input type="text" class="form-control"  ng-disabled="poc.isEditmode" ng:model="menu.description" name="qty" min=0 ng-required="poc.purchaseOrder.menuItem == true" style="width: 45%;display: inline;">
                           </td>
                           <td>
                              <button class="glyphicon glyphicon-trash" type="button" ng-disabled="poc.isEditmode"  style="padding: 7px; color:red" ng-click="poc.removeMenuDetail(poc.purchaseOrder.menuDetail,$index)">
                              </button>
                           </td>
                        </tr>
                     </table>
                     <button type="button" ng:click="poc.addMenuDetail(poc.purchaseOrder.menuDetail)"  ng-disabled="poc.isEditmode" class="btn btn-success">Add Item</button>
                  </div>
               </div>
               <div class="box-body row" ng-show="poc.purchaseOrder.menuItem == false">
                  <div class="box-header with-border">
                     <h4 class="box-title" >Product Details
                     </h4>
                  </div>
                  <div  class="col-sm-12">
                     <table class="table table-bordered table-hover table-condensed" >
                        <tr style="font-weight: bold">
                           <td >Product Name</td>
                           <td >Product Id</td>
                           <td >Ordered Qty</td>
                           <td >New Order Qty</td>
                           <td >Action</td>
                        </tr>
                        <tr ng:repeat="product in poc.purchaseOrder.productDetail">
                           <td>
                              <select class="form-control select"  ng-disabled="poc.isEditmode" ng-model="product.productId" ng-change="poc.validateProductDetail(product.productId,product);poc.getProductDetail(product.productId,product,poc.purchaseOrder.branchId)" ng-required="poc.purchaseOrder.menuItem == false" name="name"  >
                                 <option value="">Select Product</option>
                                 <option ng-repeat="product in poc.warehouseproduct" value="{{product.productId}}">{{product.productName}}</option>
                              </select>
                           </td>
                           <td>
                              <select class="form-control select item_detail"  ng-model="product.productId" disabled="disabled"  name="name"  style="-webkit-appearance: none;">
                                 <option ng-repeat="product in poc.warehouseproduct" value="{{product.productId}}">{{product.productId}}</option>
                              </select>
                           </td>
                           <td>

                              <input type="number" class="form-control" disabled="poc.isEditmode" ng:model="product.orderedQty" name="qty" min=0 ng-required="poc.purchaseOrder.menuItem == false" style="width:45%;display: inline;"  >

                              <b>
                                 <select class=" item_detail" ng:model="product.productId"  style="width: 45%;display: inline;border: none;-webkit-appearance: none;background: none"  disabled="">
                                    <option ng-repeat="product in poc.warehouseproduct" value="{{product.productId}}">{{product.unitdetails.unitName}}</option>
                                 </select>
                              </b>
                           </td>
                           <td>
                              <input type="number" class="form-control"  ng-disabled="poc.isEditmode" ng:model="product.newOrderQty" ng-change="poc.checkOrderedProductQty(product,product.productId,product.orderedQty,product.newOrderQty)" name="qty" min=0 ng-required="poc.purchaseOrder.menuItem == false" style="width: 45%;display: inline;"  >
                              <b>
                                 <select class=" item_detail" ng:model="product.productId"  style="width: 45%;display: inline;border: none;-webkit-appearance: none;background: none"  disabled="">
                                    <option ng-repeat="product in poc.warehouseproduct" value="{{product.productId}}">{{product.unitdetails.unitName}}</option>
                                 </select>
                              </b>
                           </td>
                           <td>
                              <button class="glyphicon glyphicon-trash" type="button" ng-disabled="poc.isEditmode"  style="padding: 7px; color:red" ng-click="poc.removeMenuDetail(poc.purchaseOrder.productDetail,$index)">
                              </button>
                           </td>
                        </tr>
                     </table>
                     <button type="button" ng:click="poc.addProductDetail(poc.purchaseOrder.productDetail)"  ng-disabled="poc.isEditmode" class="btn btn-success">Add Item</button>
                  </div>
               </div>
               <div class="box-footer ">
                  <div class="col-sm-offset-5" ng-show="poc.isEditmode===false">
                     <button class="btn btn-success" type="submit" ng-hide="poc.submitbut===false"   ng-click="poc.formValidation(myForm.$error.required[0].$name) && poc.addPurchaseOrder(poc.purchaseOrder)" >Submit</button>  
                     <button class="btn btn-success"  ng-if="poc.submitbut===false" type="submit" ng-click="poc.formValidation(myForm.$error.required[0].$name) && poc.updatePurchaseOrder(poc.purchaseOrder)" >Update</button>  
                     <button ui-sref="root.purchase-order-list" name="submit"  class="btn btn-danger ">Cancel</button>
                     <input type="button"  ng-click="poc.reset(poc.purchaseOrder)"   class="btn btn-warning"  value=" Reset ">
                  </div>
                  <div class="col-sm-offset-5" ng-if="poc.isEditmode===true">
                     <button type="button" ng-click="poc.isEditmode = !poc.isEditmode;poc.disableSubmit()"  class="btn btn-success ">Edit</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </section>
</div>