<div class="content-wrapper">
   <section class="content-header">
      <h1>
         Performance Purchase Order Report
      </h1>
      <ol class="breadcrumb">
         <li><a ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
         <li><a href="">Purchase Order Management</a></li>
         <li class="active">Purchase Report</li>
      </ol>
   </section>
   <section class="content">
      <form name="Form" id="Form"  ng-submit="Form.$valid && porc.getFilteredPODetails(porc.purchaseOrderDetail);submitted=true" autocomplete="off"  novalidate >
         <div class="box box-default">
            <div class="box-header with-border">
               <h3 class="box-title">Performance Purchase Order Report</h3>
               <div class="pull-right">
                  <button class="btn btn-primary"   type="button" ng-click="porc.print('print-div')">Print</button>  
                  <button   type="button" ng-click="porc.downloadPdf('Purchase Order Details')" class="btn btn-primary "> PDF</button>
               </div>
            </div>
            <div class="box-body">
               <div class="row form-group">
                  <div class="col-sm-3 d-right">
                     <label style="padding-top: 8px;" class="">From Date</label>
                  </div>
                  <div class="col-sm-6 ">
                     <input type="hidden"   ng-model="porc.purchaseOrderDetail .fromDate" name="fromDate" required="required"> 
                     <div class="dropdown">
                        <button datepickerLocaldate class="btn btn-primary dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" >
                        {{  porc.purchaseOrderDetail .fromDate == null ? 'Select Date' : porc.purchaseOrderDetail .fromDate | date:'yyyy-MM-dd'}}  <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                           <datetimepicker data-ng-required data-ng-model="porc.purchaseOrderDetail .fromDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',  startView:'day', minView:'day'  }" 
                              data-on-set-time="porc.startDateOnSetTime()" data-before-render="porc.startDateBeforeRender(porc.purchaseOrderDetail .toDate,$dates)"/>
                        </ul>
                     </div>
                     <span class="help-inline" ng-show="submitted && Form.fromDate.$error.required" style="padding-left:1%;color: red;">  From Date is Required
                     </span>
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-sm-3 d-right">
                     <label style="padding-top: 8px;" class=""> To Date</label>
                  </div>
                  <div class="col-sm-6 ">
                     <input type="hidden" required  ng-model="porc.purchaseOrderDetail.toDate" name="toDate" required="required"> 
                     <div class="dropdown">
                        <button datepickerLocaldate class="btn btn-primary dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                        {{  porc.purchaseOrderDetail .toDate == null ? 'Select Date' : porc.purchaseOrderDetail .toDate | date:'yyyy-MM-dd'}}  <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                           <datetimepicker data-ng-required data-ng-model="porc.purchaseOrderDetail .toDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',  startView:'day', minView:'day'  }" 
                              data-on-set-time="porc.endDateOnSetTime()"  data-before-render="porc.endDateBeforeRender(porc.purchaseOrderDetail .fromDate,$view, $dates, $leftDate, $upDate, $rightDate)"/>
                        </ul>
                     </div>
                     <span class="help-inline" ng-show="submitted && Form.toDate.$error.required" style="padding-left:1%;color: red;">To Date is Required
                     </span>
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-sm-3 d-right">
                     <label style="padding-top: 8px;" class="">PO Status</label>
                  </div>
                  <div class="col-sm-6 ">
                     <select class="form-control" name="status"  ng-model="porc.purchaseOrderDetail.status" required="required"    style="width: 38%;">
                        <option value="">Select PO Status</option>
                        <option value="Received">Received</option>
                        <option value="Partially Received">Partially Received</option>
                        <option value="Supplied">Supplied</option>
                        <option value="Partially Supplied">Partially Supplied</option>
                        <option value="Ordered">Ordered</option>
                        <option value="Cancelled">Cancelled</option>
                     </select>
                     <span class="help-inline" ng-show="submitted && Form.status.$error.required"  style="padding-left:1%;color: red;">PO Status Required</span>
                  </div>
               </div>
            </div>
            <div class="box-footer">
               <div class="col-sm-offset-5">
                  <button class="btn btn-success" name="submit"  type="submit">Submit</button>  
                  <button type="reset"  class="btn btn-warning" ng-disabled="Form.$pristine" ng-click="porc.reset(porc.purchaseOrderDetail)">Reset</button>
               </div>
            </div>
         </div>
      </form>
      <div class="panel panel-info" style="overflow:auto;">
         <div class="allow_cnt" >
            <form name="myForm">
               <div class="box-body">
                  <label style="padding: 9px;">Show Entries</label>
                  <select data-ng-model="limit" ng-init="limit =porc.availableLimits[0]" ng-options="limit for limit in porc.availableLimits" ng-class="{'active':porc.isActiveValue(limit)}" data-ng-change="porc.setValue(limit)" size="1">      
                  </select>                         
                  <br>
                  <div id="print-div" >
                     <div>
                        <h3>Performance Purchase Order Report</h3>
                        <table class="grid_tbl" id="pdfgrid">
                           <thead>
                              <tr>
                                 <th>  
                                    <a class="hand-icon" ng-click="sortType = 'branchId'; sortReverse = !sortReverse">
                                    Outlet Id 
                                    <span ng-show="sortType == 'branchId' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'branchId' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                 </th>
                                 <th>  
                                    <a class="hand-icon" ng-click="sortType = 'outlet_collection.branchName'; sortReverse = !sortReverse">
                                    Outlet Name
                                    <span ng-show="sortType == 'outlet_collection.branchName' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'outlet_collection.branchName' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                 </th>
                                 <th> 
                                    <a class="hand-icon" ng-click="sortType = 'purchaseOrderId'; sortReverse = !sortReverse">
                                    PO Number
                                    <span ng-show="sortType == 'purchaseOrderId' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'purchaseOrderId' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                 </th>
                                 <th> 
                                    <a class="hand-icon" ng-click="sortType = 'createdDateTime'; sortReverse = !sortReverse">
                                    Date
                                    <span ng-show="sortType == 'createdDateTime' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'createdDateTime' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                 </th>
                                 <th> 
                                    <a class="hand-icon" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                                    Status
                                    <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr dir-paginate="purchaseOrderDetail in porc.reportDetails|orderBy:sortType:sortReverse|itemsPerPage:limit " 
                                 data-ng-class="{danger:!addSupplier.active}">
                                 <td>
                                    <span>{{purchaseOrderDetail.branchId}}</span>
                                 </td>
                                 <td>
                                    <span>{{purchaseOrderDetail.branchName}}</span>
                                 </td>
                                 <td>
                                    <span>{{purchaseOrderDetail.purchaseOrderId}}</span>
                                 </td>
                                 <td>
                                    <span>{{purchaseOrderDetail.createdDateTime | date:'yyyy-MM-dd'}}</span>
                                 </td>
                                 <td >
                                    <span>{{purchaseOrderDetail.status}}</span>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <dir-pagination-controls
                  max-size="5"
                  direction-links="true"
                  boundary-links="true" >
               </dir-pagination-controls>
            </form>
         </div>
      </div>
</div>
</section>
</div>