<div class="content-wrapper">
   <section class="content-header">
      <h1>
         Outlet Management
      </h1>
      <ol class="breadcrumb">
         <li><a ui-sref="root.dashboard"><i class="fa fa-dashboard"></i></a></li>
         <li class="active">Outlet Management</li>
      </ol>
   </section>
   <section class="content">
      <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a ui-sref="root.outlet-list">
               <div class="info-box">
                  <span class="info-box-icon bg-green"><i class="fa fa-globe"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Outlet Setup</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a ui-sref="root.franchise-branch-list">
               <div class="info-box">
                  <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Franchise Branch Setup</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a ui-sref="root.emergency-contact-list">
               <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="fa fa-bell"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Emergency Contact List</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a ui-sref="root.request-list">
               <div class="info-box">
                  <span class="info-box-icon bg-blue"><i class="fa fa-pencil-square-o"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Request List</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
            <a ui-sref="root.daily-occurrences-list">
               <div class="info-box">
                  <span class="info-box-icon bg-orange"><i class="fa fa-home"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Daily Occurrence List</span>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </section>
</div>